.user-table {
  border: 1px solid #dee2e6;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  background-color: #565656;
  color: white;
  border-radius: 0.25rem;
}

.user-table th,
.user-table td {
  border: 1px solid #dee2e6;
  border-top: 1px solid transparent;
  padding: 10px;
}

.user-table tbody tr:hover {
  background-color: #438291;
}

.actions {
  text-align: center;
}
