<h1>User list</h1>

<table class="user-table" *ngIf="(userList$|async)?.length !== 0">
  <thead>
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th>Address</th>
      <th>Phone number</th>
      <th class="actions">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of (userList$|async)">
      <td>{{user.name}}</td>
      <td>{{user.email}}</td>
      <td>{{user.address.city}}, {{user.address.street}}, {{user.address.suite}}</td>
      <td>{{user.phone}}</td>
      <td class="actions">
        <a [routerLink]="['/user/detail',user.id]">View</a>
      </td>
    </tr>
  </tbody>
</table>

<ng-container appResolve [dbSharedResolve]="dbSharedResolve" #containerRef="appResolve">
  <app-load-spinner *ngIf="containerRef.isResolving && !(containerRef.hasError)"></app-load-spinner>
  <div class="error" *ngIf="!(containerRef.isResolving) && containerRef.hasError">
    {{( errorMessage$ | async )}}
  </div>
</ng-container>